body {
    margin: 0;
}

#container {
    position: relative;
    width: 100vw;
    height: 100vh;
}

.block {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-weight: bold;
    font-size: 18px;
    border: 1px solid black;
}

.fullness {
    margin: 0;
    position: absolute;
    top: 10px;
    left: 10px;
}
